/// all the font faces and font-styles will be defined here
// Font Sizes

$font-size-smallest: 12px;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-xl: 32px;
$font-size-heading: 16px;
